


<form action="/badDogs_submit" method="get" accept-charset="utf-8">
	<input type="text" name="username" value="">
	<input type="text" name="email" value="">
	<button>submit</button>
</form>

<script type="text/javascript">

//write a function that grabs value of your inputs
//and 
// function displayVals(info) {
// 	jQery.val()
// }

//when click the button in the form, thats when you make the ajax request, e.preventDefault() to prevent the form from submitting

// $('input').val doesnt work with two or more
//we could put id's on them
//$('input[name=username').val()  in the brackets we can put user attributes and then it will return what you set it 
//$('input[name=email').val() 
</script>


<script type="text/javascript" src="/javascripts/hopeItWorks.js"></script>